{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}讲一个故事 - 登录{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-9 col-sm-9">
        <div class="page-header">
            <h1>登录</h1>
        </div>
    </div>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>忘记你的密码？ <a href="{{ url_for('auth.password_reset_request') }}">点击这里重置</a></p>
    <p>新用户？<a href = "{{ url_for('auth.register') }}">点击这里注册</a></p>
</div>
{% endblock %}