<div class="modal fade" id="post-upload-file-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">上传图片</h4>
            </div>
            <div class="modal-body">
                <input type=file name=file>
            </div>
            <div class="modal-footer">
                <a>
                    <input type=submit class="btn btn-danger" value="确定">
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div> 