<ul class="posts">
    <div class="post-content">
        <div class="post-title">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="post-author">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                {% if post.author.name != None and post.author.name != '' %}
                    {{ post.author.name }}
                {% else %}
                    {{ post.author.username }}
                {% endif %}
            </a></div>
        <div class="post-time">- 发布于{{ moment(post.timestamp).fromNow() }}</div>
        <div class="post-category">
            <a href="{{ url_for('.category', id=post.category_id)}}">
                {{ post.category.category }}
            </a>
        </div>
        <div class="post-like">
            {% if current_user.is_authenticated %}
                {% if current_user.is_like_post(post) %}
                    <a href="{{ url_for('.post_like', id=post.id, redir=redir) }}">
                        <span">取消赞</span>
                    </a>
                {% else %}
                    <a href="{{ url_for('.post_like', id=post.id, redir=redir) }}">
                        <span">点赞</span>
                    </a>
                {% endif%}
            {% endif %}  
        </div>      
        {% if current_user == post.author %}
            <div class="post-edit">
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span>编辑</span>
                </a>
            </div> 
            <div class="post-delete">
                <a href="" data-toggle="modal" data-target="#post-delete-tips-modal">
                    <span>删除</span>
                </a>
            </div>
            {% include '_post_delete_tips.html' %}
        {% elif current_user.is_administrator() %}
            <div class="post-edit">
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span>编辑[管理员]</span>
                </a>
            </div>
            <div class="post-delete">
                <a href="" data-toggle="modal" data-target="#post-delete-tips-modal">
                    <span>删除[管理员]</span>
                </a>
            </div>
            {% include '_post_delete_tips.html' %}
        {% endif %}
        <div class="post-statistics">- 赞 {{ post.likes.count() }}</div>
        <div class="post-body">
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </div>
    </div>
</ul>
