{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
{% if current_user.is_anonymous %}
<div class="page-header">
    <h3>看起来你很喜欢这里！</h3>
    <a href="{{ url_for('auth.register') }}">我们一起来探索世界吧！</a>
</div>
{% endif %}
<div class="post-tabs">
    {% if current_user.is_authenticated %}
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">所有文章</a></li>

        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注者的文章</a></li>
    </ul>
    {% endif %}
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
