{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
{% if current_user.is_anonymous %}
    <div class="index-header">
        <h2>看起来你挺喜欢这里！</h2>
        <a href="{{ url_for('auth.register') }}">我们一起来探索世界吧！</a>
    </div>
{% endif %}
<div class="row">
    <div class='col-md-9 col-sm-9'>
        <div class="post-tabs">
            {% include '_posts.html' %}
        </div>
        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
        {% endif %}
    </div>
    <div class='col-md-3 col-sm-3 hidden-xs'>
        <ul class="nav nav-pills nav-stacked">
            {% if current_user.is_anonymous %}
                <li class="active"><a href="{{ url_for('.index') }}">所有文章 {{ posts_amount[1] }}</a></li>
            {% elif current_user.is_authenticated %}
                <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">所有文章 {{ posts_amount[1] }}</a></li>
                <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注的用户文章 {{ posts_amount[0] }}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
